<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>EV1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400"/>
  <link rel="stylesheet" href="./styles/ev1.css"/>
</head>
<body>
<div class="ev1-xA1">
  <div class="hero-h7b">
    <div class="header-2ff"> 
      <a href="home.html"> 
      <img src="assets/arrow-circle-left_curved.png"/>
    </a>
    </div>
    <div class="content-Nd3">
      <div class="auto-group-qezh-WDT">
        <div class="auto-group-9bed-RrD">
          <p class="ev-charging-find-station-x5T">
            <span class="ev-charging-find-station-x5T-sub-0">
             EV Charging
            <br/>
            
            </span>
            <span class="ev-charging-find-station-x5T-sub-1">Find Station</span>
          </p>
          <div class="button-base-tdK">
            <div class="auto-group-uhhf-BcR">search</div>
            <div class="search-g3P">
            </div>
          </div>
        </div>
        <div class="frame-22-AUM">
        </div>
      </div>
      <div class="cards-JKf">
        <div class="auto-group-qgeh-FVo">
          <div class="item-1-zCV">
            <a href="ev3.html">
            <img class="mask-group-XTK" src="assets/electric-vehicle-charging-station-icon.png"/>
          </a>
            <div class="text-sGH">
              <p class="charging-station--akM">BigC Chiang Rai 2</p>
              <p class="address-1-Kty">58 หมู่ที่ 17 ถ.พหลโยธิน ตำบลบ้านดู่ </p>
              <p class="address-99-Kty"> อำเภอเมืองเชียงราย จังหวัดเชียงราย 57100</p>
              <p class="type-ac-price-minute-charging-time-fxq">
                <span class="type-ac-price-minute-charging-time-fxq-sub-0">
                Type:AC
                <br/>
                Price/minute
                <br/>
                Charging Time
                </span>
                <span class="type-ac-price-minute-charging-time-fxq-sub-1"></span>
              </p>
            </div>
          </div>
          <div class="item-5-D7B">
            <a href="ev7.html">
            <img class="mask-group-Zgq" src="assets/electric-vehicle-charging-station-icon.png"/>
            </a>
          </div>
        </div>
        <div class="auto-group-xvyj-4db">
          <div class="item-2-or5">
            <a href="ev4.html">
            <img class="mask-group-9Q9" src="assets/electric-vehicle-charging-station-icon.png"/>
            </a>
            <div class="text-ftH">
              
              <p class="charging-station-2-akM">PTT Charging Station</p>
              <p class="address-2-ha5"> ถ. พหลโยธิน ตำบล โคกตูม </p>
              <p class="address-2-ha55"> อำเภอเมืองเชียงราย เชียงราย 57000</p>
              <p class="type-ac-price-minute-charging-time-SXf">
              Type : AC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
          <div class="item-6-XJD">
            <div class="bg-gS1">
            </div>
            <a href="ev8.html">
            <img class="mask-group-1DP" src="assets/electric-vehicle-charging-station-icon.png"/>
            </a>
            <div class="text-kRs">
              <p class="charging-station-6-fHw">EleXA Charging Station 2 </p>
              <p class="address-6-afo">ตำบล เวียงชัย </p>
              <p class="address-6-afo"> อำเภอ เวียงชัย เชียงราย 57210</p>
              <p class="type-ac-price-minute-charging-time-KtH">
              Type : AC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
        </div>
        <div class="auto-group-hm3t-F1F">
          <div class="item-3-BvV">
            <div class="bg-8aq">
            </div>
            <a href="ev5.html">
            <img class="mask-group-4Db" src="assets/electric-vehicle-charging-station-icon.png"/>
          </a>
            <div class="text-bjK">
              <p class="charging-station-3-iJ9">EleXA Charging Station</p>
              <p class="address-3-2Jq">ตำบลเวียง </p>
              <p class="address-3-2Jq1"> อำเภอเมืองเชียงราย เชียงราย 57000</p>
              <p class="type-dc-price-minute-charging-time-m1X">
              Type : DC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
          <div class="item-7-Ugd">
            <div class="bg-2CM">
            </div>
            <a href="ev9.html">
            <img class="mask-group-sTs" src="assets/electric-vehicle-charging-station-icon.png"/>
          </a>
            <div class="text-p8D">
              <p class="charging-station-7-LMT">MG Lanna</p>
              <p class="address-7-Tgy">ตำบลริมกก </p>
              <p class="address-7-Tgy">อำเภอเมืองเชียงราย เชียงราย 57100</p>
              <p class="type-dc-price-minute-charging-time-CuT">
              Type : DC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
        </div>
        <div class="auto-group-mzfk-JBo">
          <div class="item-4-Soo">
            <div class="bg-bRo">
            </div>
            <a href="ev6.html">
            <img class="mask-group-7uw" src="assets/electric-vehicle-charging-station-icon.png"/>
            </a>
            <div class="text-fRf">
              <p class="charging-station-4-PMf">PTT Charging Station 2 </p>
              <p class="address-4-KWD">347 Village No.12 ตำบลเวียง </p>
              <p class="address-4-KWD1">อำเภอเมืองเชียงราย เชียงราย 57000</p>
              <p class="type-dc-price-minute-charging-time-TcR">
              Type : DC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
          <div class="item-8-BHX">
            <div class="bg-LAR">
            </div>
            <a href="ev10.html">
            <img class="mask-group-fCh" src="assets/electric-vehicle-charging-station-icon.png"/>
          </a> 
            <div class="text-1XT">
              <p class="charging-station-8-Xkh">EVolt Charging Station</p>
              <p class="address-8-TuF">ถ.พหลโยธิน ตำบล จอมหมอกแก้ว </p>
              <p class="address-8-TuF"> อำเภอแม่ลาว เชียงราย 57250</p>
              <p class="type-ac-price-minute-charging-time-c1T">
              Type : AC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="ev-charging-station-rest-stops-iKP">
      <span class="ev-charging-station-rest-stops-iKP-sub-0">     EV CHARGING STATION &amp; REST STOPS</span>
      <span class="ev-charging-station-rest-stops-iKP-sub-1"> </span>
    </p>
    <div class="text-v45">
      <p class="charging-station-5-qRw">PTT Charging Station 3 </p>
      <p class="address-5-9hX"> ตำบล เวียงชัย </p>
      <p class="address-5-9hX1"> อำเภอเมืองเชียงราย เชียงราย 57210</p>
      <p class="type-dc-price-minute-charging-time-tv1">
      Type : DC
      <br/>
      Price/minute
      <br/>
      Charging Time
      </p>
    </div>
  </div>
  <img class="line-312-o1P" src="REPLACE_IMAGE:281:47632"/>
  <div class="top-bar-Xxy">
    <p class="contact-us-enh">Contact us</p>
    <div class="mail-Nih">
      <img class="icon-outline-mail-VYR" src="REPLACE_IMAGE:275:3811"/>
      <p class="evchargreststopswebsitecom-d8q">evcharg.reststops@website.com</p>
    </div>
    <div class="call-xB7">
      <img class="icon-outline-phone-5Wd" src="assets/icons8-phone-100.png"/>
      <p class="item-072-584-6985-Dcq">072-584-6985</p>
    </div>
  </div>
</div>
</body>