<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>EV3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/ev3.css"/>
</head>
<body>
<div class="ev3-56M">
  <div class="hero-QeR">
    <div class="bg-M3s">
    </div>
    <div class="hero-HiD">
      <div class="auto-group-cprt-pCM">
        <p class="ev-charging-find-station-kbo">
          <span class="ev-charging-find-station11">
          EV Charging
          <br/>
          
          </span>
          <span class="ev-charging-find-station-kbo-sub-1">Find Station</span>
        </p>
        <p class="ev-charging-station-rest-stops-iKP">
          <span class="ev-charging-station-rest-stops1">     EV CHARGING STATION &amp; REST STOPS</span>
          <span class="ev-charging-station-rest-stops2"> </span>
        </p>
        <div class="form-UAR">
          <div class="bg-zuT">
          </div>
          <a href="https://www.google.com/maps/place/EVolt+Charging+Station/@19.8975006,99.6444101,11z/data=!4m20!1m13!4m12!1m4!2m2!1d99.8915706!2d20.0462799!4e1!1m6!1m2!1s0x30d70d8cd8987333:0x42381dfd05599709!2zRVZvbHQgQ2hhcmdpbmcgU3RhdGlvbiwgUVAzSitRSlcg4LiWLiDguJ7guKvguKXguYLguKLguJjguLTguJkg4LiV4Liz4Lia4LilIOC4iOC4reC4oeC4q-C4oeC4reC4geC5geC4geC5ieC4pyDguK3guLPguYDguKDguK3guYHguKHguYjguKXguLLguKcg4LmA4LiK4Li14Lii4LiH4Lij4Liy4LiiIDU3MjUw!2m2!1d99.7315902!2d19.7544784!3m5!1s0x30d70d8cd8987333:0x42381dfd05599709!8m2!3d19.7544784!4d99.7315902!16s%2Fg%2F11t7prn1gb?entry=ttu">
          
          <div class="button-5AD">Show route</div>
        </a>
          <img class="mask-group-L69" src="assets/10522159.png"/>
          <p class="type-ac-price-minute-charging-time-4H3">
            <span class="type-ac-price-minute-charging-time-4H3-sub-0">
            Type : AC
            <br/>
            Price/minute
            <br/>
            Charging Time
            </span>
            <span class="type-ac-price-minute-charging-time-4H3-sub-1"></span>
          </p>
          <p class="address-1-wEM">ถ.พหลโยธิน ตำบล จอมหมอกแก้ว
            <br/>อำเภอแม่ลาว เชียงราย 57250</p>  
          <p class="charging-station-1-qad">EVolt Charging Station</p>
        </div>
      </div>
      <div class="button-8Jq">How to charge an electric vehicle</div>
    </div>
    <div class="header-awX">
      <a href="ev1.html"> 
        <img src="assets/arrow-circle-left_curved.png"/>
      </a>
      </p>
    </div>
  </div>
  <div class="map-99P">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240104.83418854314!2d99.6444100807009!3d19.897500590801208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d70d8cd8987333%3A0x42381dfd05599709!2sEVolt%20Charging%20Station!5e0!3m2!1sth!2sth!4v1700942468165!5m2!1sth!2sth" width="1500" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <img class="line-312-q2D" src="REPLACE_IMAGE:281:47635"/>
  <div class="top-bar-NXw">
    <p class="contact-us-6Tw">Contact us</p>
    <div class="mail-cSH">
      <img class="icon-outline-mail-LNH" src="REPLACE_IMAGE:281:28879"/>
      <p class="evchargreststopswebsitecom-s7K">evcharg.reststops@website.com</p>
    </div>
    <div class="call-yw3">
      <img class="icon-outline-phone-7GZ" src="assets/icons8-phone-100.png"/>
      <p class="item-072-584-6985-3g1">072-584-6985</p>
    </div>
  </div>
</div>

</body>