<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>EV2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/ev2.css"/>
</head>
<body>
<div class="ev2-tyj">
  <div class="hero-dgR">
    <div class="bg-Z4H">
    </div>
    <div class="frame-21-Vid">
    </div>
    <div class="header-Ded">
      <img class="arrow-circle-leftcurved-unM" src="REPLACE_IMAGE:600:12483"/>
      <img class="line-312-EZj" src="REPLACE_IMAGE:301:54223"/>
    </div>
    <div class="content-yGR">
      <div class="auto-group-x7u7-hTK">
        <p class="ev-charging-find-station-1yo">
          <span class="ev-charging-find-station-1yo-sub-0">
          EV Charging
          <br/>
          
          </span>
          <span class="ev-charging-find-station-1yo-sub-1">Find Station</span>
        </p>
        <div class="button-base-5MP">
          <div class="auto-group-areu-mV7">Address 1</div>
          <div class="search-4z1">
          </div>
        </div>
      </div>
      <div class="cards-xpV">
        <div class="auto-group-yhsd-i2y">
          <div class="item-1-ehK">
            <div class="bg-o4R">
            </div>
            <img class="mask-group-757" src="REPLACE_IMAGE:301:54228"/>
            <div class="text-SdB">
              <p class="charging-station-1-MVF">Charging Station 1          </p>
              <p class="address-1-GcD">Address 1</p>
              <p class="type-ac-price-minute-charging-time-p7w">
                <span class="type-ac-price-minute-charging-time-p7w-sub-0">
                Type : AC
                <br/>
                Price/minute
                <br/>
                Charging Time
                </span>
                <span class="type-ac-price-minute-charging-time-p7w-sub-1">.</span>
              </p>
              <div class="frame-20-oVf">
              </div>
            </div>
          </div>
          <div class="item-5-LVb">
            <div class="bg-H9w">
            </div>
            <img class="mask-group-C21" src="REPLACE_IMAGE:301:54264"/>
            <div class="text-Xpy">
              <p class="charging-station-5-rMT">Charging Station 5          </p>
              <p class="address-5-mjK">Address 5</p>
              <p class="type-dc-price-minute-charging-time-Wgu">
              Type : DC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
        </div>
        <div class="auto-group-fgdt-RJ5">
          <div class="item-2-m73">
            <img class="mask-group-6QD" src="REPLACE_IMAGE:301:54237"/>
            <div class="text-df3">
              <p class="charging-station-2-A9B">Charging Station 2</p>
              <p class="address-2-gNR">Address 2</p>
              <p class="type-ac-price-minute-charging-time-pzR">
              Type : AC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
          <div class="item-6-WMT">
            <div class="bg-eyT">
            </div>
            <img class="mask-group-BCh" src="REPLACE_IMAGE:301:54273"/>
            <div class="text-XXT">
              <p class="charging-station-6-FCZ">Charging Station 6          </p>
              <p class="address-6-MWV">Address 6</p>
              <p class="type-ac-price-minute-charging-time-haM">
              Type : AC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
        </div>
        <div class="auto-group-wna1-26q">
          <div class="item-3-AD3">
            <div class="bg-hyf">
            </div>
            <img class="mask-group-SAZ" src="REPLACE_IMAGE:301:54246"/>
            <div class="text-aXf">
              <p class="charging-station-3-JCm">Charging Station 3          </p>
              <p class="address-3-2Pf">Address 3</p>
              <p class="type-dc-price-minute-charging-time-yJu">
              Type : DC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
          <div class="item-7-5Mw">
            <div class="bg-Qf7">
            </div>
            <img class="mask-group-jhP" src="REPLACE_IMAGE:301:54282"/>
            <div class="text-HU1">
              <p class="charging-station-7-D6m">Charging Station 7          </p>
              <p class="address-7-wHf">Address 7</p>
              <p class="type-dc-price-minute-charging-time-5em">
              Type : DC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
        </div>
        <div class="auto-group-kntu-zmj">
          <div class="item-4-kF7">
            <div class="bg-hAM">
            </div>
            <img class="mask-group-1wj" src="REPLACE_IMAGE:301:54255"/>
            <div class="text-ZiM">
              <p class="charging-station-4-VM7">Charging Station 4          </p>
              <p class="address-4-peH">Address 4</p>
              <p class="type-dc-price-minute-charging-time-xkV">
              Type : DC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
          <div class="item-8-gRb">
            <div class="bg-31F">
            </div>
            <img class="mask-group-x8D" src="REPLACE_IMAGE:301:54291"/>
            <div class="text-JSy">
              <p class="charging-station-8-2Ny">Charging Station 8          </p>
              <p class="address-8-9yP">Address 8</p>
              <p class="type-ac-price-minute-charging-time-6td">
              Type : AC
              <br/>
              Price/minute
              <br/>
              Charging Time
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="ev-charging-station-rest-stops-1Vo">
      <span class="ev-charging-station-rest-stops-1Vo-sub-0">     EV CHARGING STATION &amp; REST STOPS</span>
      <span class="ev-charging-station-rest-stops-1Vo-sub-1"> </span>
    </p>
  </div>
  <div class="top-bar-QAZ">
    <p class="contact-us-tbX">Contact us</p>
    <div class="mail-DNu">
      <img class="icon-outline-mail-8km" src="REPLACE_IMAGE:301:54312"/>
      <p class="evchargreststopswebsitecom-UJq">evcharg.reststops@website.com</p>
    </div>
    <div class="call-Pwb">
      <img class="icon-outline-phone-KaM" src="assets/icons8-phone-100.png"/>
      <p class="item-072-584-6985-TgZ">072-584-6985</p>
    </div>
  </div>
  <img class="line-312-amB" src="REPLACE_IMAGE:301:54317"/>
</div>
</body>