<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>EV3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/ev3.css"/>
</head>
<body>
<div class="ev3-56M">
  <div class="hero-QeR">
    <div class="bg-M3s">
    </div>
    <div class="hero-HiD">
      <div class="auto-group-cprt-pCM">
        <p class="ev-charging-find-station-kbo">
          <span class="ev-charging-find-station11">
          EV Charging
          <br/>
          
          </span>
          <span class="ev-charging-find-station-kbo-sub-1">Find Station</span>
        </p>
        <p class="ev-charging-station-rest-stops-iKP">
          <span class="ev-charging-station-rest-stops1">     EV CHARGING STATION &amp; REST STOPS</span>
          <span class="ev-charging-station-rest-stops2"> </span>
        </p>
        <div class="form-UAR">
          <div class="bg-zuT">
          </div>
          <a href="https://www.google.com/maps/dir//%E0%B8%9A%E0%B8%B4%E0%B9%8A%E0%B8%81%E0%B8%8B%E0%B8%B5+%E0%B8%8B%E0%B8%B9%E0%B9%80%E0%B8%9B%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B9%80%E0%B8%8B%E0%B9%87%E0%B8%99%E0%B9%80%E0%B8%95%E0%B8%AD%E0%B8%A3%E0%B9%8C+%E0%B9%80%E0%B8%8A%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B8%A3%E0%B8%B2%E0%B8%A2+2+(%E0%B8%AA%E0%B8%99%E0%B8%B2%E0%B8%A1%E0%B8%9A%E0%B8%B4%E0%B8%99)+58+%E0%B8%AB%E0%B8%A1%E0%B8%B9%E0%B9%88%E0%B8%97%E0%B8%B5%E0%B9%88+17+%E0%B8%96.+%E0%B8%9E%E0%B8%AB%E0%B8%A5%E0%B9%82%E0%B8%A2%E0%B8%98%E0%B8%B4%E0%B8%99+%E0%B8%95%E0%B8%B3%E0%B8%9A%E0%B8%A5+%E0%B8%9A%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B8%94%E0%B8%B9%E0%B9%88+%E0%B8%AD%E0%B8%B3%E0%B9%80%E0%B8%A0%E0%B8%AD%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%8A%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B8%A3%E0%B8%B2%E0%B8%A2+%E0%B9%80%E0%B8%8A%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B8%A3%E0%B8%B2%E0%B8%A2+57100/@19.9595388,99.8555118,17z/data=!4m5!4m4!1m0!1m2!1m1!1s0x30d706d4d7964d7d:0x74cfc49341a96b76">
          
          <div class="button-5AD">Show route</div>
        </a>
          <img class="mask-group-L69" src="assets/10522159.png"/>
          <p class="type-ac-price-minute-charging-time-4H3">
            <span class="type-ac-price-minute-charging-time-4H3-sub-0">
            Type : AC
            <br/>
            Price/minute
            <br/>
            Charging Time
            </span>
            <span class="type-ac-price-minute-charging-time-4H3-sub-1"></span>
          </p>
          <p class="address-1-wEM">58 หมู่ที่ 17 ถ.พหลโยธิน ตำบลบ้านดู่</p>
            <p class="address-1-wEM1">อำเภอเมืองเชียงราย จังหวัดเชียงราย 57100</p>
          <p class="charging-station-1-qad">BigC Chiang Rai 2</p>
        </div>
      </div>
      <div class="button-8Jq">How to charge an electric vehicle</div>
    </div>
    <div class="header-awX">
      <a href="ev1.html"> 
        <img src="assets/arrow-circle-left_curved.png"/>
      </a>
      </p>
    </div>
  </div>
  <div class="map-99P">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15000.662210148519!2d99.8555118!3d19.9595388!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d706d4d7964d7d%3A0x74cfc49341a96b76!2z4Lia4Li04LmK4LiB4LiL4Li1IOC4i-C4ueC5gOC4m-C4reC4o-C5jOC5gOC4i-C5h-C4meC5gOC4leC4reC4o-C5jCDguYDguIrguLXguKLguIfguKPguLLguKIgMiAo4Liq4LiZ4Liy4Lih4Lia4Li04LiZKQ!5e0!3m2!1sth!2sth!4v1700868164177!5m2!1sth!2sth" width="1500" height="2400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <img class="line-312-q2D" src="REPLACE_IMAGE:281:47635"/>
  <div class="top-bar-NXw">
    <p class="contact-us-6Tw">Contact us</p>
    <div class="mail-cSH">
      <img class="icon-outline-mail-LNH" src="REPLACE_IMAGE:281:28879"/>
      <p class="evchargreststopswebsitecom-s7K">evcharg.reststops@website.com</p>
    </div>
    <div class="call-yw3">
      <img class="icon-outline-phone-7GZ" src="assets/icons8-phone-100.png"/>
      <p class="item-072-584-6985-3g1">072-584-6985</p>
    </div>
  </div>
</div>

</body>