<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>EV3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/ev3.css"/>
</head>
<body>
<div class="ev3-56M">
  <div class="hero-QeR">
    <div class="bg-M3s">
    </div>
    <div class="hero-HiD">
      <div class="auto-group-cprt-pCM">
        <p class="ev-charging-find-station-kbo">
          <span class="ev-charging-find-station11">
          EV Charging
          <br/>
          
          </span>
          <span class="ev-charging-find-station-kbo-sub-1">Find Station</span>
        </p>
        <p class="ev-charging-station-rest-stops-iKP">
          <span class="ev-charging-station-rest-stops1">     EV CHARGING STATION &amp; REST STOPS</span>
          <span class="ev-charging-station-rest-stops2"> </span>
        </p>
        <div class="form-UAR">
          <div class="bg-zuT">
          </div>
          <a href="https://www.google.com/maps/dir/20.0462799,99.8915706/VRFW%2BRQF+EleXA+Charging+Station+%E0%B8%95%E0%B8%B3%E0%B8%9A%E0%B8%A5+%E0%B9%80%E0%B8%A7%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B8%8A%E0%B8%B1%E0%B8%A2+%E0%B8%AD%E0%B8%B3%E0%B9%80%E0%B8%A0%E0%B8%AD+%E0%B9%80%E0%B8%A7%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B8%8A%E0%B8%B1%E0%B8%A2+%E0%B9%80%E0%B8%8A%E0%B8%B5%E0%B8%A2%E0%B8%87%E0%B8%A3%E0%B8%B2%E0%B8%A2+57210/@19.9610697,99.7901352,12z/data=!3m1!4b1!4m17!1m7!3m6!1s0x30d7062f418f1433:0x27e5c703667a1fb4!2sEleXA+Charging+Station!8m2!3d19.8745637!4d99.8469193!16s%2Fg%2F11sx18_kz4!4m8!1m1!4e1!1m5!1m1!1s0x30d7062f418f1433:0x27e5c703667a1fb4!2m2!1d99.8469193!2d19.8745637?entry=ttu">
          
          <div class="button-5AD">Show route</div>
        </a>
          <img class="mask-group-L69" src="assets/10522159.png"/>
          <p class="type-ac-price-minute-charging-time-4H3">
            <span class="type-ac-price-minute-charging-time-4H3-sub-0">
            Type : AC
            <br/>
            Price/minute
            <br/>
            Charging Time
            </span>
            <span class="type-ac-price-minute-charging-time-4H3-sub-1"></span>
          </p>
          <p class="address-1-wEM">ตำบล เวียงชัย
            <br/>อำเภอ เวียงชัย เชียงราย 57210</p>

          <p class="charging-station-1-qad">EleXA Charging Station 
            <br/>2</p>
        </div>
      </div>
      <div class="button-8Jq">How to charge an electric vehicle</div>
    </div>
    <div class="header-awX">
      <a href="ev1.html"> 
        <img src="assets/arrow-circle-left_curved.png"/>
      </a>
      </p>
    </div>
  </div>
  <div class="map-99P">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3752.1830149871275!2d99.8469406!3d19.8744925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sth!2sth!4v1700941990435!5m2!1sth!2sth" width="1500" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <img class="line-312-q2D" src="REPLACE_IMAGE:281:47635"/>
  <div class="top-bar-NXw">
    <p class="contact-us-6Tw">Contact us</p>
    <div class="mail-cSH">
      <img class="icon-outline-mail-LNH" src="REPLACE_IMAGE:281:28879"/>
      <p class="evchargreststopswebsitecom-s7K">evcharg.reststops@website.com</p>
    </div>
    <div class="call-yw3">
      <img class="icon-outline-phone-7GZ" src="assets/icons8-phone-100.png"/>
      <p class="item-072-584-6985-3g1">072-584-6985</p>
    </div>
  </div>
</div>

</body>