<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Group 1327</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/group-1327.css"/>
</head>
<body>
<div class="group-1327-jBT">
  <div class="re2-5WD">
    <div class="header-pCu">
      <img class="arrow-circle-leftcurved-KvM" src="REPLACE_IMAGE:600:12477"/>
      <p class="ev-charging-station-rest-stops-eBw">
        <span class="ev-charging-station-rest-stops-eBw-sub-0">     EV CHARGING STATION &amp; REST STOPS</span>
        <span class="ev-charging-station-rest-stops-eBw-sub-1"> </span>
      </p>
    </div>
    <div class="auto-group-9cqs-SX7">
      <img class="line-311-adK" src="REPLACE_IMAGE:281:47701"/>
      <p class="review-hxq">Review</p>
      <img class="line-312-qJM" src="REPLACE_IMAGE:281:47712"/>
    </div>
    <div class="auto-group-eipd-xds">
      <div class="form-V81">
        <img class="people-circle-1c9" src="REPLACE_IMAGE:281:47834"/>
        <div class="auto-group-drtj-wEu">
          <div class="rectangle-3372-seM">
          </div>
          <p class="sign-in-with-google-Zn5">Sign in with Google</p>
        </div>
        <div class="group-1325-Feu">Log in</div>
      </div>
    </div>
    <div class="top-bar-QRK">
      <p class="contact-us-XF3">Contact us</p>
      <div class="mail-2xV">
        <img class="icon-outline-mail-xLM" src="REPLACE_IMAGE:281:47705"/>
        <p class="evchargreststopswebsitecom-5Qy">evcharg.reststops@website.com</p>
      </div>
      <div class="call-obs">
        <img class="icon-outline-phone-vwP" src="REPLACE_IMAGE:281:47708"/>
        <p class="item-072-584-6985-GkM">072-584-6985</p>
      </div>
    </div>
  </div>
</div>
</body>