<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Group 1328</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/group-1328.css"/>
</head>
<body>
<div class="group-1328-b8h">
  <div class="re1-Y3w">
    <div class="header-sc1">
      <img class="arrow-circle-leftcurved-nU5" src="REPLACE_IMAGE:600:12479"/>
      <p class="ev-charging-station-rest-stops-6Um">
        <span class="ev-charging-station-rest-stops-6Um-sub-0">     EV CHARGING STATION &amp; REST STOPS</span>
        <span class="ev-charging-station-rest-stops-6Um-sub-1"> </span>
      </p>
    </div>
    <div class="auto-group-y6aq-gLV">
      <img class="line-311-DbK" src="REPLACE_IMAGE:462:12491"/>
      <p class="review-Lvq">Review</p>
      <img class="line-312-sA5" src="REPLACE_IMAGE:462:12502"/>
    </div>
    <div class="auto-group-jo5f-iAh">
      <div class="item-3-RL1">
        <div class="item-1-x53">
          <div class="content-GrR">
            <div class="text-RUR">
              <p class="i-like-this-z1j">“I like this”</p>
              <p class="i-could-easily-locate-and-map-out-charging-stations-along-my-route-making-the-entire-journey-more-manageable-VUH">I could easily locate and map out charging stations along my route, making the entire journey more manageable.</p>
            </div>
            <div class="line-310-N2H">
            </div>
            <div class="user-6iy">
              <div class="ellipse-19-2cd">
              </div>
              <div class="text-wUh">
                <div class="sophire-robson-UjX">Sophire Robson</div>
                <div class="los-angeles-ca-zxm">Los Angeles, CA</div>
              </div>
            </div>
          </div>
        </div>
        <div class="auto-group-pbk1-tYM">
          <div class="content-Dad">
            <div class="text-yph">
              <p class="easy-to-use-jos">
                <span class="easy-to-use-jos-sub-0">“</span>
                <span class="easy-to-use-jos-sub-1">Easy to use</span>
                <span class="easy-to-use-jos-sub-2">”</span>
              </p>
              <p class="accessing-the-website-from-my-smartphone-was-just-as-smooth-as-using-it-on-my-computer-making-impromptu-charging-stops-hassle-free-sob">Accessing the website from my smartphone was just as smooth as using it on my computer, making impromptu charging stops hassle-free.</p>
            </div>
            <div class="line-310-MTs">
            </div>
            <div class="user-HMX">
              <div class="image-psF">
              </div>
              <div class="text-Z49">
                <div class="andy-smith-hg9">Andy Smith</div>
                <div class="san-francisco-ca-2iR">San Francisco, CA</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item-2-9Y9">
          <div class="content-Gcm">
            <div class="text-E3o">
              <p class="it-is-a-useful-site-atM">
                <span class="it-is-a-useful-site-atM-sub-0">“</span>
                <span class="it-is-a-useful-site-atM-sub-1">It is a useful site</span>
                <span class="it-is-a-useful-site-atM-sub-2">”</span>
              </p>
              <p class="whether-i-wanted-to-locate-stations-by-coordinates-city-names-or-specific-keywords-the-platform-delivered-results-with-precision-saving-me-valuable-time-LFF">Whether I wanted to locate stations by coordinates, city names, or specific keywords, the platform delivered results with precision, saving me valuable time.</p>
            </div>
            <div class="line-310-o8q">
            </div>
            <div class="user-Y6R">
              <div class="image-TjB">
              </div>
              <div class="text-CAy">
                <div class="matt-cannon-Lny">Matt Cannon</div>
                <div class="san-diego-ca-Ggd">San Diego, CA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="auto-group-vwvt-XsT">
        <p class="comment-U21">Comment</p>
        <img class="row-zW9" src="REPLACE_IMAGE:462:12550"/>
      </div>
      <div class="button-XW5">
        <div class="auto-group-tvmp-dp1">Add comments</div>
      </div>
    </div>
    <div class="top-bar-VrD">
      <p class="contact-us-cR3">Contact us</p>
      <div class="mail-Y3o">
        <img class="icon-outline-mail-qob" src="REPLACE_IMAGE:462:12495"/>
        <p class="evchargreststopswebsitecom-kvZ">evcharg.reststops@website.com</p>
      </div>
      <div class="call-HQh">
        <img class="icon-outline-phone-otq" src="REPLACE_IMAGE:462:12498"/>
        <p class="item-072-584-6985-k3P">072-584-6985</p>
      </div>
    </div>
  </div>
</div>
</body>