<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Group 1326</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/group-1326.css"/>
</head>
<body>
<div class="group-1326-HLZ">
  <div class="re1-o41">
    <div class="header-v8d">
      <img class="arrow-circle-leftcurved-DNd" src="REPLACE_IMAGE:564:12474"/>
      <p class="ev-charging-station-rest-stops-KwT">
        <span class="ev-charging-station-rest-stops-KwT-sub-0">     EV CHARGING STATION &amp; REST STOPS</span>
        <span class="ev-charging-station-rest-stops-KwT-sub-1"> </span>
      </p>
    </div>
    <div class="auto-group-cdnd-gow">
      <img class="line-311-pfF" src="REPLACE_IMAGE:281:35247"/>
      <p class="review-YbF">Review</p>
      <img class="line-312-FkZ" src="REPLACE_IMAGE:281:47626"/>
    </div>
    <div class="auto-group-47iu-nkV">
      <div class="item-3-vkD">
        <div class="item-1-2HT">
          <div class="content-WiR">
            <div class="text-EuK">
              <p class="i-like-this-ayB">“I like this”</p>
              <p class="i-could-easily-locate-and-map-out-charging-stations-along-my-route-making-the-entire-journey-more-manageable-H6u">I could easily locate and map out charging stations along my route, making the entire journey more manageable.</p>
            </div>
            <div class="line-310-9uo">
            </div>
            <div class="user-5oT">
              <div class="ellipse-19-Duf">
              </div>
              <div class="text-Kho">
                <div class="sophire-robson-ezy">Sophire Robson</div>
                <div class="los-angeles-ca-aNq">Los Angeles, CA</div>
              </div>
            </div>
          </div>
        </div>
        <div class="auto-group-g13b-rr9">
          <div class="content-Arq">
            <div class="text-vr1">
              <p class="easy-to-use-tXw">
                <span class="easy-to-use-tXw-sub-0">“</span>
                <span class="easy-to-use-tXw-sub-1">Easy to use</span>
                <span class="easy-to-use-tXw-sub-2">”</span>
              </p>
              <p class="accessing-the-website-from-my-smartphone-was-just-as-smooth-as-using-it-on-my-computer-making-impromptu-charging-stops-hassle-free-csF">Accessing the website from my smartphone was just as smooth as using it on my computer, making impromptu charging stops hassle-free.</p>
            </div>
            <div class="line-310-HiV">
            </div>
            <div class="user-piR">
              <div class="image-mNm">
              </div>
              <div class="text-h1X">
                <div class="andy-smith-SE1">Andy Smith</div>
                <div class="san-francisco-ca-ZZX">San Francisco, CA</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item-2-saD">
          <div class="content-Bqo">
            <div class="text-k8D">
              <p class="it-is-a-useful-site-hZF">
                <span class="it-is-a-useful-site-hZF-sub-0">“</span>
                <span class="it-is-a-useful-site-hZF-sub-1">It is a useful site</span>
                <span class="it-is-a-useful-site-hZF-sub-2">”</span>
              </p>
              <p class="whether-i-wanted-to-locate-stations-by-coordinates-city-names-or-specific-keywords-the-platform-delivered-results-with-precision-saving-me-valuable-time-Fz5">Whether I wanted to locate stations by coordinates, city names, or specific keywords, the platform delivered results with precision, saving me valuable time.</p>
            </div>
            <div class="line-310-XAu">
            </div>
            <div class="user-4gd">
              <div class="image-bAm">
              </div>
              <div class="text-WoX">
                <div class="matt-cannon-s8H">Matt Cannon</div>
                <div class="san-diego-ca-aoP">San Diego, CA</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group-1325-rF7">Add comments</div>
    </div>
    <div class="top-bar-SDK">
      <p class="contact-us-YXF">Contact us</p>
      <div class="mail-fbs">
        <img class="icon-outline-mail-Bq7" src="REPLACE_IMAGE:281:35251"/>
        <p class="evchargreststopswebsitecom-7yf">evcharg.reststops@website.com</p>
      </div>
      <div class="call-EYV">
        <img class="icon-outline-phone-ABF" src="REPLACE_IMAGE:281:35254"/>
        <p class="item-072-584-6985-g9b">072-584-6985</p>
      </div>
    </div>
  </div>
</div>
</body>