<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>RS1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/rs1.css"/>
</head>
<body>
<div class="rs1-7Ad">
  <div class="hero-2oP">
    <div class="header-LZB">
      <a href="home.html"> 
        <img src="assets/arrow-circle-left_curved.png"/>
      </a>
      <p class="ev-charging-station-rest-stops-Ryw">
        <span class="ev-charging-station-rest-stops-Ryw-sub-1"> </span>
      </p>
    </div>
    <div class="content-ZsB">
      <div class="auto-group-a6nh-HoB">
        <p class="rest-stops-find-location-oWd">
          <span class="rest-stops-find-location-oWd-sub-0">
          Rest Stops
          <br/>
          
          </span>
          <span class="rest-stops-find-location-oWd-sub-1">Find Location</span>
        </p>
        <div class="button-base-m65">
          <div class="auto-group-xptp-45B">search</div>
          <div class="search-xAZ">
          </div>
        </div>
      </div>
      <div class="cards-SbX">
        <div class="auto-group-dswt-AnR">
          <div class="item-1-KQR">
            <a href="rs3.html">
            <img class="mask-group-TFj" src="assets/messageImage_1700851982921-removebg-preview.png"/>
          </a>
            <div class="text-yjs">
              <p class="rest-stop-1-L4d">Station ปตท.ริมกก</p>
              <p class="address-1-SNZ">483 หมู่ 5 ถ. พหลโยธิน ตำบลริมกก
                <br/>อำเภอเมืองเชียงราย เชียงราย 57000<bt/> ‎  <br/>‎</p>
            </div>
          </div>
          <div class="item-5-jcZ">
            <a href="rs8.html">
            <img class="mask-group-gGu" src="assets/messageImage_1700851982921-removebg-preview.png"/>
          </a>
            <div class="text-1a5">
              <p class="rest-stop-5-ZrV">Esso 2</p>
              <p class="address-5-HGh">328 หมู่ที่ 5 Phahon Yothin Rd<br/> Tambon Rim Kok, Mueang <br/>Chiang Rai District, Chiang Rai 57100<br/>‎ </p>
            </div>
          </div>
        </div>
        <div class="auto-group-i757-yfK">
          <div class="item-2-iso">
            <a href="rs5.html">
            <img class="mask-group-rUD" src="assets/messageImage_1700851982921-removebg-preview.png"/>
            </a>
            <div class="text-av1">
              <p class="rest-stop-2-9CR">PTT ตลาดฟ้าไทย</p>
              <p class="address-2-Tiu">335 ม.2 ถ.ทางหลวงสายเอเซีย <br/>อำเภอเมืองเชียงราย, เชียงราย 57100   <br/> ‎ <br/>  ‎  </p>
            </div>
          </div>
          <div class="item-6-ySM">
            <a href="rs9.html">
            <img class="mask-group-vcV" src="assets/messageImage_1700851982921-removebg-preview.png"/>
          </a>
            <div class="text-sGq">
              <p class="rest-stop-6-RZF">Caltex Gas Station</p>
              <p class="address-6-MSu">255 1 Phahon Yothin Rd, <br/>Rop Wiang Sub-district, <br/>Mueang Chiang Rai District,<br/> Chiang Rai 57000</p>
            </div>
          </div>
        </div>
        <div class="auto-group-xjch-reZ">
          <div class="item-3-QRB">
            <a href="rs6.html">
            <img class="mask-group-9df" src="assets/messageImage_1700851982921-removebg-preview.png"/>
          </a>
            <div class="text-VSd">
              <p class="rest-stop-3-T8Z">ESSO</p>
              <p class="address-3-ysb">Nang Lae, Mueang Chiang <br/>Rai District, Chiang Rai 57100<br/>‎ </p>
            </div>
          </div>
          <div class="item-7-Vb3">
            <a href="rs10.html">
            <img class="mask-group-T25" src="assets/messageImage_1700851982921-removebg-preview.png"/>
            </a>
            <div class="text-zXo">
              <p class="rest-stop-7-kWy">PTT  ห้าแยกพ่อขุน</p>
              <p class="address-7-5JM">347/2 หมู่ที่ 12 <br/>Mueang Chiang Rai District, <br/>Chiang Rai 57000<br/>‎ </p>
            </div>
          </div>
        </div>
        <div class="auto-group-pwyf-mgy">
          <div class="item-4-i6R">
            <a href="rs7.html">
            <img class="mask-group-TJu" src="assets/messageImage_1700851982921-removebg-preview.png"/>
            </a>
            <div class="text-CXP">
              <p class="rest-stop-4-MQH">PT</p>
              <p class="address-4-t9K">414 1 Nang Lae, <br/>Mueang Chiang Rai District, <br/>Chiang Rai 57100</p>
            </div>
          </div>
          <div class="item-8-P65">
            <a href="rs11.html">
            <img class="mask-group-vbo" src="assets/messageImage_1700851982921-removebg-preview.png"/>
          </a>
            <div class="text-4xu">
              <p class="rest-stop-8-2Pw">PT Punthai</p>
              <p class="address-8-x2h">Tambon Rop Wiang<br/>Mueang Chiang Rai District<br/>Chiang Rai 57000<br/>‎   </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="line-312-ZoB" src="REPLACE_IMAGE:281:47634"/>
  <div class="top-bar-VRw">
    <p class="contact-us-ztV">Contact us</p>
    <div class="mail-KQy">
      <img class="icon-outline-mail-SVb" src="REPLACE_IMAGE:275:3822"/>
      <p class="evchargreststopswebsitecom-yVX">evcharg.reststops@website.com</p>
    </div>
    <div class="call-hgR">
      <img class="icon-outline-phone-qGq" src="assets/icons8-phone-100.png"/>
      <p class="item-072-584-6985-NXf">072-584-6985</p>
    </div>
  </div>
</div>
</body>