<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>RS2</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/rs2.css"/>
</head>
<body>
<div class="rs2-sBT">
  <div class="hero-c93">
    <div class="header-ixm">
      <img class="arrow-circle-leftcurved-GDb" src="REPLACE_IMAGE:600:12493"/>
      <img class="line-312-aEH" src="REPLACE_IMAGE:301:54326"/>
      <p class="ev-charging-station-rest-stops-HuP">
        <span class="ev-charging-station-rest-stops-HuP-sub-0">     EV CHARGING STATION &amp; REST STOPS</span>
        <span class="ev-charging-station-rest-stops-HuP-sub-1"> </span>
      </p>
    </div>
    <div class="content-UMb">
      <div class="auto-group-ma9b-bSD">
        <p class="rest-stops-find-location-iWq">
          <span class="rest-stops-find-location-iWq-sub-0">
          Rest Stops
          <br/>
          
          </span>
          <span class="rest-stops-find-location-iWq-sub-1">Find Location</span>
        </p>
        <div class="button-base-61b">
          <div class="auto-group-6gi1-n9K">Address 1</div>
          <div class="search-46q">
          </div>
        </div>
      </div>
      <div class="cards-Z3b">
        <div class="auto-group-9kwb-6ZK">
          <div class="item-1-EfX">
            <img class="mask-group-aDb" src="REPLACE_IMAGE:301:54332"/>
            <div class="text-6xd">
              <p class="rest-stop-1-G6R">Rest Stop 1</p>
              <p class="address-1-ymX">Address 1</p>
            </div>
          </div>
          <div class="item-5-Gkd">
            <img class="mask-group-RdX" src="REPLACE_IMAGE:301:54364"/>
            <div class="text-xtM">
              <p class="rest-stop-5-Kiu">Rest Stop 5</p>
              <p class="address-5-4Ah">Address 5</p>
            </div>
          </div>
        </div>
        <div class="auto-group-amss-ADj">
          <div class="item-2-uSD">
            <img class="mask-group-EDb" src="REPLACE_IMAGE:301:54340"/>
            <div class="text-kxd">
              <p class="rest-stop-2-7YH">Rest Stop 2</p>
              <p class="address-2-Eso">Address 2</p>
            </div>
          </div>
          <div class="item-6-Lvq">
            <img class="mask-group-hWV" src="REPLACE_IMAGE:301:54372"/>
            <div class="text-eAq">
              <p class="rest-stop-6-CTF">Rest Stop 6</p>
              <p class="address-6-v8M">Address 6</p>
            </div>
          </div>
        </div>
        <div class="auto-group-gbnd-Dt9">
          <div class="item-3-AYV">
            <img class="mask-group-KAV" src="REPLACE_IMAGE:301:54348"/>
            <div class="text-485">
              <p class="rest-stop-3-DFs">Rest Stop 3</p>
              <p class="address-3-YJ9">Address 3</p>
            </div>
          </div>
          <div class="item-7-3Vo">
            <img class="mask-group-Q5T" src="REPLACE_IMAGE:301:54380"/>
            <div class="text-w5P">
              <p class="rest-stop-7-Huw">Rest Stop 7</p>
              <p class="address-7-chK">Address 7</p>
            </div>
          </div>
        </div>
        <div class="auto-group-t4a1-XJV">
          <div class="item-4-fvV">
            <img class="mask-group-cqj" src="REPLACE_IMAGE:301:54356"/>
            <div class="text-xPo">
              <p class="rest-stop-4-7Xb">Rest Stop 4</p>
              <p class="address-4-RoB">Address 4</p>
            </div>
          </div>
          <div class="item-8-WZj">
            <img class="mask-group-3pZ" src="REPLACE_IMAGE:301:54388"/>
            <div class="text-yy7">
              <p class="rest-stop-8-jxH">Rest Stop 8</p>
              <p class="address-8-sHo">Address 8</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="line-312-ZRX" src="REPLACE_IMAGE:301:54412"/>
  <div class="top-bar-hnd">
    <p class="contact-us-p6Z">Contact us</p>
    <div class="mail-jjK">
      <img class="icon-outline-mail-TfK" src="REPLACE_IMAGE:301:54407"/>
      <p class="evchargreststopswebsitecom-PJ5">evcharg.reststops@website.com</p>
    </div>
    <div class="call-Jvq">
      <img class="icon-outline-phone-37j" src="REPLACE_IMAGE:301:54410"/>
      <p class="item-072-584-6985-BDw">072-584-6985</p>
    </div>
  </div>
</div>
</body>