<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>RS4</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/rs4.css"/>
</head>
<body>
<div class="rs4-p1T">
  <div class="auto-group-1ne9-icd">
    <div class="header-dzV">
      <img class="arrow-circle-leftcurved-jnd" src="REPLACE_IMAGE:600:12497"/>
      <img class="line-312-FFB" src="REPLACE_IMAGE:281:47654"/>
      <p class="ev-charging-station-rest-stops-mjK">
        <span class="ev-charging-station-rest-stops-mjK-sub-0">     EV CHARGING STATION &amp; REST STOPS</span>
        <span class="ev-charging-station-rest-stops-mjK-sub-1"> </span>
      </p>
    </div>
    <div class="auto-group-nqth-usT">
      <img class="line-311-s3b" src="REPLACE_IMAGE:281:28970"/>
      <p class="route-C5s">Route</p>
      <p class="rest-stops-JPo">Rest Stops</p>
    </div>
  </div>
  <div class="auto-group-hoyw-pd3">
    <div class="group-1324-Z4q">
      <div class="frame-3-Jo7">
        <div class="full-map-ery">
          <img class="background-xMs" src="REPLACE_IMAGE:I281:28913;5:3"/>
          <div class="water-HQ9">
            <img class="clip-path-group-1b3" src="REPLACE_IMAGE:I281:28913;5:21"/>
          </div>
          <div class="buldings-JKF">
            <img class="clip-path-group-hk1" src="REPLACE_IMAGE:I281:28913;5:4722"/>
          </div>
          <img class="streets-7ky" src="REPLACE_IMAGE:I281:28913;5:6081"/>
          <div class="street-names-2d3">
            <div class="auto-group-ccny-LNq">
              <p class="street-name-rc5">Street Name</p>
              <p class="street-name-8pV">Street Name</p>
            </div>
            <p class="street-name-4CM">Street Name</p>
            <div class="auto-group-2vut-Lff">
              <p class="street-name-3a5">Street Name</p>
              <p class="street-name-8jw">Street Name</p>
            </div>
            <div class="auto-group-v69j-eyB">
              <p class="street-name-BCR">Street Name</p>
              <p class="street-name-sqw">Street Name</p>
            </div>
            <p class="street-name-coX">Street Name</p>
            <p class="street-name-vJR">Street Name</p>
            <p class="street-name-Epu">Street Name</p>
            <p class="street-name-kHT">Street Name</p>
            <p class="street-name-sN5">Street Name</p>
            <p class="street-name-BtZ">Street Name</p>
          </div>
          <div class="markers-71X">
            <div class="auto-group-sz5f-qCR">
              <img class="markers-aA1" src="REPLACE_IMAGE:I281:28913;32:60960"/>
              <img class="markers-W3f" src="REPLACE_IMAGE:I281:28913;32:60958"/>
              <img class="markers-33b" src="REPLACE_IMAGE:I281:28913;32:60966"/>
              <img class="markers-xwF" src="REPLACE_IMAGE:I281:28913;32:60967"/>
            </div>
            <div class="auto-group-s38q-tpu">
              <img class="markers-1Pj" src="REPLACE_IMAGE:I281:28913;32:60965"/>
              <img class="markers-Xss" src="REPLACE_IMAGE:I281:28913;32:60961"/>
            </div>
            <img class="markers-TWd" src="REPLACE_IMAGE:I281:28913;32:60963"/>
            <div class="auto-group-5ltd-zmT">
              <img class="markers-Y2H" src="REPLACE_IMAGE:I281:28913;32:60951"/>
              <img class="markers-rof" src="REPLACE_IMAGE:I281:28913;32:60952"/>
              <img class="markers-Bqw" src="REPLACE_IMAGE:I281:28913;32:60953"/>
              <div class="auto-group-4spw-i5B">
                <img class="markers-2Lm" src="REPLACE_IMAGE:I281:28913;32:60955"/>
                <img class="markers-AC5" src="REPLACE_IMAGE:I281:28913;32:60954"/>
              </div>
              <img class="markers-77K" src="REPLACE_IMAGE:I281:28913;32:60956"/>
              <div class="auto-group-tkvr-ESq">
                <img class="markers-kvy" src="REPLACE_IMAGE:I281:28913;32:60962"/>
                <img class="markers-skh" src="REPLACE_IMAGE:I281:28913;32:60957"/>
              </div>
              <img class="markers-DJm" src="REPLACE_IMAGE:I281:28913;32:60959"/>
              <img class="markers-MQy" src="REPLACE_IMAGE:I281:28913;32:60964"/>
            </div>
          </div>
          <div class="rectangle-1899-HZX">
          </div>
          <img class="glow-A7X" src="REPLACE_IMAGE:281:28915"/>
          <img class="ellipse-6-tJR" src="REPLACE_IMAGE:281:28916"/>
          <div class="float-destinations-cER">
            <img class="group-3-VZ7" src="REPLACE_IMAGE:I281:28917;7:24774"/>
            <div class="frame-3-Emb">
              <p class="destination-bc9">Destination</p>
              <p class="wayne-manor-LZj">Address 1</p>
            </div>
          </div>
          <img class="vector-1-stroke-RLH" src="REPLACE_IMAGE:281:28918"/>
          <img class="indicators-tjf" src="REPLACE_IMAGE:281:28921"/>
          <div class="car-cvZ">
            <img class="asset-5-m2m" src="./assets/asset-5.png"/>
          </div>
          <div class="progress-HG1">
            <div class="frame-2-pFw">45%</div>
            <img class="polygon-1-JB7" src="REPLACE_IMAGE:I281:28923;7:18629"/>
          </div>
          <div class="float-destinations-DJ5">
            <img class="group-3-ugh" src="REPLACE_IMAGE:I281:28924;7:18641"/>
            <div class="frame-3-dsb">
              <p class="starting-point-B8R">Starting Point</p>
              <p class="stark-tower-V97">Stark Tower</p>
            </div>
          </div>
          <img class="indicators-Nih" src="REPLACE_IMAGE:281:28925"/>
          <div class="group-526-hky">
            <img class="vector-6-zEH" src="REPLACE_IMAGE:281:28961"/>
            <div class="auto-group-pwcm-vtd">
              <div class="frame-10-3TT">
                <div class="frame-7-mPT">
                  <img class="gis-car-7CR" src="REPLACE_IMAGE:281:28934"/>
                  <p class="car-dgZ">Car</p>
                </div>
                <div class="frame-8-m25">
                  <img class="mdi-all-terrain-vehicle-75w" src="REPLACE_IMAGE:281:28939"/>
                  <p class="bike-eLm">Bike</p>
                </div>
                <div class="frame-9-mwB">
                  <img class="mingcute-walk-line-X9f" src="REPLACE_IMAGE:281:28943"/>
                  <p class="walk-rhj">Walk</p>
                </div>
              </div>
              <div class="group-524-adj">
                <div class="auto-group-y4tv-uvu">
                  <img class="group-3-4Yu" src="REPLACE_IMAGE:281:28953"/>
                  <div class="frame-5-bYq">Stark Tower</div>
                </div>
                <img class="vector-4-sWM" src="REPLACE_IMAGE:281:28959"/>
                <div class="auto-group-dzn9-bx9">
                  <div class="group-5-9yf">
                    <div class="ellipse-2-gih">
                    </div>
                    <img class="vector-QPo" src="REPLACE_IMAGE:281:28958"/>
                  </div>
                  <div class="frame-6-9sB">Address 1</div>
                </div>
              </div>
            </div>
            <img class="vector-5-1Pb" src="REPLACE_IMAGE:281:28960"/>
            <div class="frame-11-MCZ">
              <p class="min-H6D">25 min</p>
              <p class="km-1nu">(15 km)</p>
            </div>
            <p class="fastest-route-now-due-to-traffic-conditions-LqB">Fastest Route now due to traffic conditions</p>
            <div class="group-525-3Uh">
              <div class="progress-z93">
                <div class="frame-2-JfX">45%</div>
                <img class="polygon-1-BjK" src="REPLACE_IMAGE:I281:28965;7:18629"/>
              </div>
              <div class="auto-group-btez-hSm">
                <img class="vector-6-eN1" src="REPLACE_IMAGE:281:28963"/>
                <img class="vector-7-P4h" src="REPLACE_IMAGE:281:28964"/>
                <img class="frame-12-XRo" src="REPLACE_IMAGE:281:28966"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="line-312-AzZ" src="REPLACE_IMAGE:281:47638"/>
  <div class="top-bar-WYd">
    <p class="contact-us-Rfb">Contact us</p>
    <div class="mail-9Lh">
      <img class="icon-outline-mail-s1o" src="REPLACE_IMAGE:281:28974"/>
      <p class="evchargreststopswebsitecom-zs7">evcharg.reststops@website.com</p>
    </div>
    <div class="call-Xc9">
      <img class="icon-outline-phone-reR" src="REPLACE_IMAGE:281:28977"/>
      <p class="item-072-584-6985-zkd">072-584-6985</p>
    </div>
  </div>
</div>
</body>