<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>RS3</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/rs3.css"/>
</head>
<body>
<div class="rs3-NmT">
  <div class="hero-Wcm">
    <div class="bg-TH7">
    </div>
    <div class="hero-CVb">
      <p class="rest-stops-find-location-Kq7">
        <span class="rest-stops-find-location-Kq7-sub-0">
        Rest Stops
        <br/>
        
        </span>
        <span class="rest-stops-find-location-Kq7-sub-1">Find Location</span>
      </p>
      <div class="form-g3P">
        <div class="bg-DJD">
        </div>
        <a href="https://www.google.com/maps/dir//Caltex+Gas+Station+255+WR7W%2BR6X+1+Phahon+Yothin+Rd+Rop+Wiang+Sub-district,+Mueang+Chiang+Rai+District,+Chiang+Rai+57000/@19.9146578,99.8456098,13z/data=!4m5!4m4!1m0!1m2!1m1!1s0x30d706f7fb919db5:0x6c835f34da8539c0">
        <div class="button-JqT">Show route</div>
      </a>
        <p class="address-1-9bB">255 WR7W+R6X, 1 Phahon Yothin Rd<br/>Rop Wiang Sub-district<br/>Mueang Chiang Rai District<br/>Chiang Rai 57000</p>
        <p class="rest-stop-1-Fu7">Caltex Gas Station</p>
      </div>
      <img class="mask-group-MBT" src="assets/messageImage_1700851982921-removebg-preview.png"/>
    </div>
    <a href="rs1.html">
    <div class="header-svV">
      <img class="arrow-circle-leftcurved-BgH" src="assets/arrow-circle-left_curved.png">
      <img class="line-312-Vgy" src="REPLACE_IMAGE:281:47641"/>
      <p class="ev-charging-station-rest-stops-d2V">
      </a>
        <span class="ev-charging-station-rest-stops-d2V-sub-0">     EV CHARGING STATION &amp; REST STOPS</span>
        <span class="ev-charging-station-rest-stops-d2V-sub-1"> </span>
      </p>
    </div>
  </div>
  <div class="map-Su3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60024.031895771586!2d99.77083215820312!3d19.903240000000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30d706f7fb919db5%3A0x6c835f34da8539c0!2sCaltex%20Gas%20Station!5e0!3m2!1sen!2sth!4v1700985531439!5m2!1sen!2sth" width="1500" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <img class="line-312-irZ" src="REPLACE_IMAGE:281:47636"/>
  <div class="top-bar-Tp9">
    <p class="contact-us-ads">Contact us</p>
    <div class="mail-tuT">
      <img class="icon-outline-mail-DRw" src="REPLACE_IMAGE:281:28889"/>
      <p class="evchargreststopswebsitecom-MHF">evcharg.reststops@website.com</p>
    </div>
    <div class="call-smP">
      <img class="icon-outline-phone-16u" src="REPLACE_IMAGE:281:28892"/>
      <p class="item-072-584-6985-9D7">072-584-6985</p>
    </div>
  </div>
</div>
</body>