
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.ev3-56M {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .hero-QeR {
    height: 91.6rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 5.7rem;
    width: 100%;

    .bg-M3s {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #f8f8f6;
      width: 144rem;
      height: 71.5rem;
    }
    .hero-HiD {
      width: 124.97rem;
      height: 78.7rem;
      position: absolute;
      left: 7.74rem;
      top: 12.9rem;
      display: flex;
      align-items: center;

      .auto-group-cprt-pCM {
        position: relative;
        flex-shrink: 0;
        margin-right: 5.1rem;
        width: 87.87rem;
        height: 100%;

        .ev-charging-find-station-kbo {
          left: 46.27rem;
          line-height: 0.96;
          color: #2b2e23;
          height: 28.8rem;
          position: absolute;
          top: 0;
          text-align: center;
          font-size: 10rem;
          font-weight: 400;
          font-family: Playfair Display, 'Source Sans Pro';
          width: 41.6rem;

          .ev-charging-find-station-kbo-sub-0 {
          }
          .ev-charging-find-station-kbo-sub-1 {
            color: #2b2e23;
            font-family: Playfair Display, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 2;
          }
        }
        .form-UAR {
          width: 75.93rem;
          height: 50.4rem;
          position: absolute;
          left: 0;
          top: 28.3rem;

          .bg-zuT {
            box-sizing: border-box;
            background-color: #ffffff;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0.2979rem 5.9574rem rgba(0, 0, 0, 0.0799999982);
            border-radius: 1.6rem;
            width: 73.08rem;
            height: 50.4rem;
            border: solid 0.1rem #ffffff;
          }
          .button-5AD {
            align-items: center;
            width: 71.7rem;
            height: 6.4rem;
            left: 4.23rem;
            top: 40.7rem;
            color: #ffffff;
            font-family: DM Sans, 'Source Sans Pro';
            cursor: pointer;
            text-align: right;
            font-size: 1.6rem;
            line-height: 1.5;
            justify-content: center;
            position: absolute;
            display: flex;
            font-weight: 700;
            white-space: nowrap;
            background-color: #ad343e;
            border-radius: 11.8rem;
          }
          .mask-group-L69 {
            position: absolute;
            left: 40.5rem;
            top: 5.1rem;
            object-fit: contain;
            vertical-align: top;
            width: 27.54rem;
            height: 23rem;
          }
          .type-ac-price-minute-charging-time-4H3 {
            height: 7.2rem;
            position: absolute;
            left: 8.86rem;
            top: 22.3rem;
            text-align: center;
            font-size: 2.4rem;
            width: 16.5rem;
            font-weight: 400;
            line-height: 1;
            color: #414536;
            font-family: DM Sans, 'Source Sans Pro';

            .type-ac-price-minute-charging-time-4H3-sub-0 {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1;
              color: #414536;
              font-family: DM Sans, 'Source Sans Pro';
            }
            .type-ac-price-minute-charging-time-4H3-sub-1 {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1;
              color: #414536;
              font-family: DM Sans, 'Source Sans Pro';
            }
          }
          .address-1-wEM {
            color: #2b2e23;
            font-family: DM Sans, 'Source Sans Pro';
            width: 15rem;
            height: 2.6rem;
            position: absolute;
            text-align: center;
            font-size: 3.2rem;
            left: 8.86rem;
            top: 12.1rem;
            font-weight: 700;
            line-height: 0.8125;
            white-space: nowrap;
          }
          .charging-station-1-qad {
            font-family: DM Sans, 'Source Sans Pro';
            width: 28.6rem;
            height: 6rem;
            text-align: center;
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 0.8333333333;
            position: absolute;
            left: 7.66rem;
            top: 3.6rem;
            letter-spacing: -0.108rem;
            color: #ad3440;
          }
        }
      }
      .button-8Jq {
        border-radius: 11.8rem;
        justify-content: center;
        text-align: right;
        display: flex;
        font-weight: 700;
        color: #ffffff;
        white-space: nowrap;
        align-items: center;
        margin: 46.2rem 0rem 26.1rem 0rem;
        width: 32rem;
        font-size: 1.6rem;
        line-height: 1.5;
        font-family: DM Sans, 'Source Sans Pro';
        background-color: #ad343e;
        flex-shrink: 0;
        height: calc(100% - 72.3rem);
        cursor: pointer;
      }
    }
    .header-awX {
      box-sizing: border-box;
      padding-left: 0.45rem;
      width: 129.75rem;
      position: absolute;
      height: 9.6rem;
      left: 6.8rem;
      top: 0.4rem;
      display: flex;
      align-items: center;

      .arrow-circle-leftcurved-VYh {
        margin: 4.8rem 31.55rem 0rem 0rem;
        width: 3.9rem;
        height: 3.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .line-312-1G9 {
        flex-shrink: 0;
        margin: 0.3rem 3.55rem 0rem 0rem;
        width: 61.1rem;
        height: 0.3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ev-charging-station-rest-stops-jT3 {
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: Playfair Display, 'Source Sans Pro';
        color: #ad343e;
        flex-shrink: 0;
        cursor: pointer;
        text-align: center;
        line-height: 6;

        .ev-charging-station-rest-stops-jT3-sub-0 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 6;
          color: #ad343e;
          font-family: Playfair Display, 'Source Sans Pro';
        }
        .ev-charging-station-rest-stops-jT3-sub-1 {
          font-weight: 400;
          line-height: 6;
          color: #ad343e;
          font-family: Playfair Display, 'Source Sans Pro';
          font-size: 1.6rem;
        }
      }
    }
  }
  .map-99P {
    margin-bottom: 24.4rem;
    width: 100%;
    height: 76.7rem;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;

    .image-112-HmP {
      width: 198.4rem;
      height: 115.5rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .line-312-q2D {
    height: 0.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 7.3rem;
    width: 160rem;
  }
  .top-bar-NXw {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #474747;
    padding: 8.2rem 46.3rem 8.8rem 10.8rem;
    width: 100%;
    height: 20rem;
    box-sizing: border-box;
    position: relative;
    flex-shrink: 0;

    .contact-us-6Tw {
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.25;
      letter-spacing: -0.072rem;
      margin-right: 13.8rem;
      color: #ffffff;
      flex-shrink: 0;
    }
    .mail-cSH {
      margin: 0.2rem 16.4rem 0.4rem 0rem;
      box-sizing: border-box;
      padding-left: 0.3rem;
      height: calc(100% - 0.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .icon-outline-mail-LNH {
        margin-right: 2.3rem;
        width: 1.8rem;
        height: 1.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .evchargreststopswebsitecom-s7K {
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #f8f8f6;
      }
    }
    .call-yw3 {
      margin: 0.2rem 0rem 0.4rem 0rem;
      box-sizing: border-box;
      padding-left: 0.3rem;
      height: calc(100% - 0.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .icon-outline-phone-7GZ {
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 1.8rem;
      }
      .item-072-584-6985-3g1 {
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #f8f8f6;
      }
    }
  }
}
