
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.group-1328-b8h {
  width: 100%;
  height: 194.8rem;

  .re1-Y3w {
    background-color: #ffffff;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 3.3rem;
    width: 100%;

    .header-sc1 {
      box-sizing: border-box;
      padding-left: 0.45rem;
      width: calc(100% - 13.25rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.45rem 7.5rem 6.8rem;

      .arrow-circle-leftcurved-nU5 {
        flex-shrink: 0;
        margin: 1.15rem 97.2rem 0rem 0rem;
        width: 3.9rem;
        height: 3.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ev-charging-station-rest-stops-6Um {
        display: flex;
        font-size: 1.6rem;
        line-height: 6;
        font-family: Playfair Display, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-weight: 400;
        color: #ad343e;
        align-items: baseline;

        .ev-charging-station-rest-stops-6Um-sub-0 {
          font-family: Playfair Display, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 6;
          color: #ad343e;
        }
        .ev-charging-station-rest-stops-6Um-sub-1 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 6;
          color: #ad343e;
          font-family: Playfair Display, 'Source Sans Pro';
        }
      }
    }
    .auto-group-y6aq-gLV {
      flex-shrink: 0;
      margin-bottom: 5.9rem;
      width: 160rem;
      display: flex;
      align-items: center;

      .line-311-DbK {
        margin: 3.9rem 2.8rem 0rem 0rem;
        width: 61.1rem;
        height: 0.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .review-Lvq {
        margin-right: 2.9rem;
        font-weight: 400;
        line-height: 0.96;
        color: #2b2e23;
        font-family: Playfair Display, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 10rem;
        white-space: nowrap;
      }
      .line-312-sA5 {
        flex-shrink: 0;
        margin-top: 3.7rem;
        width: 61.1rem;
        height: 0.3rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-jo5f-iAh {
      display: flex;
      background-color: rgba(239, 170, 130, 0.1099999994);
      flex-shrink: 0;
      margin-bottom: 15.9rem;
      padding: 11.5rem 2.3rem 31rem 3.7rem;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;

      .item-3-RL1 {
        flex-shrink: 0;
        margin-bottom: 21rem;
        width: 100%;
        height: 36.9rem;
        display: flex;
        column-gap: 8.1864rem;
        align-items: center;
        box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));

        .item-1-x53 {
          box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 4.07rem 2.531rem 5.63rem 3.411rem;
          width: 40.5424rem;
          height: 100%;
          background-color: #f8f8f6;
          border-radius: 1.2rem;

          .content-GrR {
            height: 100%;
            display: flex;
            flex-direction: column;
            width: 100%;

            .text-RUR {
              margin-bottom: 3.2rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .i-like-this-z1j {
                margin-bottom: 2.4rem;
                font-weight: 700;
                letter-spacing: -0.072rem;
                color: #ad343e;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                line-height: 1.25;
              }
              .i-could-easily-locate-and-map-out-charging-stations-along-my-route-making-the-entire-journey-more-manageable-VUH {
                flex-shrink: 0;
                max-width: 34.5rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5555555556;
                color: #414536;
                font-family: DM Sans, 'Source Sans Pro';
              }
            }
            .line-310-N2H {
              margin-bottom: 3.1rem;
              width: 100%;
              height: 0.1rem;
              background-color: rgba(219, 223, 208, 0.6999999881);
              flex-shrink: 0;
            }
            .user-6iy {
              margin-right: 13.4rem;
              width: calc(100% - 13.4rem);
              height: 7rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .ellipse-19-2cd {
                flex-shrink: 0;
                margin-right: 2rem;
                width: 7rem;
                height: 7rem;
                background-image: url('REPLACE_IMAGE:9e2e9da1565f9c6b2dc8497c799ae567dd434cbd');
                border-radius: 3.5rem;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
              }
              .text-wUh {
                margin: 0.95rem 0;
                height: calc(100% - 1.9rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .sophire-robson-UjX {
                  line-height: 1.5;
                  color: #2b2e23;
                  font-family: DM Sans, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.3rem;
                  display: flex;
                }
                .los-angeles-ca-zxm {
                  color: #414536;
                  font-family: DM Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                }
              }
            }
          }
        }
        .auto-group-pbk1-tYM {
          background-color: #f8f8f6;
          border-radius: 1.2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 4.07rem 2.531rem 2.83rem 3.411rem;
          width: 40.5424rem;
          height: 100%;

          .content-Dad {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .text-yph {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 3.2rem;

              .easy-to-use-jos {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.25;
                letter-spacing: -0.072rem;
                font-family: DM Sans, 'Source Sans Pro';
                margin-bottom: 2.4rem;
                color: #ad343e;
                display: flex;
                align-items: baseline;

                .easy-to-use-jos-sub-0 {
                }
                .easy-to-use-jos-sub-1 {
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.25;
                  letter-spacing: -0.072rem;
                  color: #ad343e;
                  font-family: DM Sans, 'Source Sans Pro';
                }
                .easy-to-use-jos-sub-2 {
                }
              }
              .accessing-the-website-from-my-smartphone-was-just-as-smooth-as-using-it-on-my-computer-making-impromptu-charging-stops-hassle-free-sob {
                font-weight: 400;
                line-height: 1.5555555556;
                color: #414536;
                font-family: DM Sans, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 34.3rem;
                font-size: 1.8rem;
              }
            }
            .line-310-MTs {
              flex-shrink: 0;
              margin-bottom: 3.1rem;
              width: 100%;
              height: 0.1rem;
              background-color: rgba(219, 223, 208, 0.6999999881);
            }
            .user-HMX {
              align-items: center;
              flex-shrink: 0;
              margin-right: 12.3rem;
              width: calc(100% - 12.3rem);
              height: 7rem;
              display: flex;

              .image-psF {
                height: 7rem;
                background-repeat: no-repeat;
                background-position: center;
                width: 7rem;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:1748354c4f162c8c18fab19a888f0b7bb1361f13');
                border-radius: 3.5rem;
                flex-shrink: 0;
                margin-right: 2rem;
              }
              .text-Z49 {
                margin: 0.95rem 0;
                height: calc(100% - 1.9rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .andy-smith-hg9 {
                  font-size: 1.6rem;
                  line-height: 1.5;
                  font-family: DM Sans, 'Source Sans Pro';
                  margin-bottom: 0.3rem;
                  display: flex;
                  font-weight: 700;
                  color: #2b2e23;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .san-francisco-ca-2iR {
                  line-height: 1.5;
                  color: #414536;
                  font-family: DM Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
            }
          }
        }
        .item-2-9Y9 {
          height: 100%;
          background-color: #f8f8f6;
          border-radius: 1.2rem;
          box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 4.07rem 2.531rem 2.83rem 3.411rem;
          width: 40.5424rem;

          .content-Gcm {
            flex-direction: column;
            width: 100%;
            height: 100%;
            display: flex;

            .text-E3o {
              margin-bottom: 3.2rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .it-is-a-useful-site-atM {
                display: flex;
                align-items: baseline;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.25;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 2.4rem;
                letter-spacing: -0.072rem;
                color: #ad343e;
                flex-shrink: 0;

                .it-is-a-useful-site-atM-sub-0 {
                }
                .it-is-a-useful-site-atM-sub-1 {
                  font-family: DM Sans, 'Source Sans Pro';
                  font-size: 2.4rem;
                  font-weight: 700;
                  line-height: 1.25;
                  letter-spacing: -0.072rem;
                  color: #ad343e;
                }
                .it-is-a-useful-site-atM-sub-2 {
                }
              }
              .whether-i-wanted-to-locate-stations-by-coordinates-city-names-or-specific-keywords-the-platform-delivered-results-with-precision-saving-me-valuable-time-LFF {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.5555555556;
                color: #414536;
                font-family: DM Sans, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 33.8rem;
              }
            }
            .line-310-o8q {
              width: 100%;
              height: 0.1rem;
              background-color: rgba(219, 223, 208, 0.6999999881);
              flex-shrink: 0;
              margin-bottom: 3.1rem;
            }
            .user-Y6R {
              margin-right: 15.3rem;
              width: calc(100% - 15.3rem);
              height: 7rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .image-TjB {
                border-radius: 3.5rem;
                width: 7rem;
                background-position: center;
                background-image: url('REPLACE_IMAGE:2e912c190abe8607b76bdf120be957332b759384');
                background-repeat: no-repeat;
                flex-shrink: 0;
                margin-right: 2rem;
                height: 7rem;
                background-size: 100% 100%;
              }
              .text-CAy {
                margin: 0.95rem 0;
                height: calc(100% - 1.9rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .matt-cannon-Lny {
                  margin-bottom: 0.3rem;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  color: #2b2e23;
                  white-space: nowrap;
                  font-family: DM Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .san-diego-ca-Ggd {
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #414536;
                  font-family: DM Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
      .auto-group-vwvt-XsT {
        width: calc(100% - 66.5rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 30.5rem 10.2rem 36rem;

        .comment-U21 {
          font-weight: 700;
          line-height: 1;
          color: #2b2e23;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 1rem 1.7rem 0rem 0rem;
          font-size: 2.4rem;
        }
        .row-zW9 {
          width: 58rem;
          height: 6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .button-XW5 {
        border-radius: 11.8rem;
        flex-shrink: 0;
        margin: 0rem 46.8rem 0rem 69.9rem;
        box-sizing: border-box;
        padding: 2rem 2.2rem;
        width: calc(100% - 116.7rem);
        height: 6.4rem;
        background-color: #ad343e;

        .auto-group-tvmp-dp1 {
          font-size: 1.6rem;
          font-family: DM Sans, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          margin-right: 4.8rem;
          width: 12.1rem;
          display: flex;
          font-weight: 700;
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
          height: 100%;
          text-align: right;
        }
      }
    }
    .top-bar-VrD {
      padding: 8.2rem 46.3rem 8.8rem 10.8rem;
      width: 100%;
      height: 20rem;
      background-color: #474747;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .contact-us-cR3 {
        font-size: 2.4rem;
        line-height: 1.25;
        color: #ffffff;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 13.8rem;
        letter-spacing: -0.072rem;
        font-weight: 700;
      }
      .mail-Y3o {
        box-sizing: border-box;
        padding-left: 0.3rem;
        height: calc(100% - 0.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.2rem 16.4rem 0.4rem 0rem;

        .icon-outline-mail-qob {
          margin-right: 2.3rem;
          width: 1.8rem;
          height: 1.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .evchargreststopswebsitecom-kvZ {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f8f8f6;
        }
      }
      .call-HQh {
        box-sizing: border-box;
        padding-left: 0.3rem;
        height: calc(100% - 0.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0.2rem 0rem 0.4rem 0rem;

        .icon-outline-phone-otq {
          width: 1.8rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.3rem;
        }
        .item-072-584-6985-k3P {
          line-height: 1.5;
          color: #f8f8f6;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }
  }
}
