
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.rs1-7Ad {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .hero-2oP {
    align-items: center;
    display: flex;
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    width: 100%;
    flex-shrink: 0;
    padding: 0.9rem 4.75rem 13.3rem 6rem;
    flex-direction: column;
    background-color: #ffffff;

    .header-LZB {
      box-sizing: border-box;
      padding-left: 0.45rem;
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 4.2rem;

      .arrow-circle-leftcurved-s3K {
        height: 3.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 1.6rem 36.65rem 0rem 0rem;
        width: 3.9rem;
      }
      .line-312-w3B {
        width: 61.1rem;
        height: 0.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 1.3rem 1.95rem 0rem 0rem;
      }
      .ev-charging-station-rest-stops-Ryw {
        font-size: 1.6rem;
        display: flex;
        cursor: pointer;
        text-align: center;
        font-weight: 400;
        line-height: 6;
        color: #ad343e;
        font-family: Playfair Display, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        flex-shrink: 0;

        .ev-charging-station-rest-stops-Ryw-sub-0 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 6;
          color: #ad343e;
          font-family: Playfair Display, 'Source Sans Pro';
        }
        .ev-charging-station-rest-stops-Ryw-sub-1 {
          line-height: 6;
          color: #ad343e;
          font-family: Playfair Display, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }
    .content-ZsB {
      width: calc(100% - 16.61rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 8.93rem 0rem 7.68rem;

      .auto-group-a6nh-HoB {
        margin: 0rem 32.4rem 13rem 36.45rem;
        width: calc(100% - 68.85rem);
        height: 29.5rem;
        position: relative;
        flex-shrink: 0;

        .rest-stops-find-location-oWd {
          text-align: center;
          line-height: 0.96;
          color: #2b2e23;
          font-family: Playfair Display, 'Source Sans Pro';
          width: 29.8rem;
          height: 28.8rem;
          left: 11.37rem;
          top: 0;
          position: absolute;
          font-size: 10rem;
          font-weight: 400;

          .rest-stops-find-location-oWd-sub-0 {
          }
          .rest-stops-find-location-oWd-sub-1 {
            color: #2b2e23;
            font-family: Playfair Display, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 400;
            line-height: 2;
          }
        }
        .button-base-m65 {
          align-items: center;
          padding: 1.8rem 37.29rem 1.8rem 2.4rem;
          width: 47.79rem;
          height: 6rem;
          position: absolute;
          display: flex;
          background-color: #ffffff;
          border-radius: 7.2rem;
          box-sizing: border-box;
          cursor: pointer;
          left: 0;
          top: 23.5rem;
          border: solid 0.1rem #ad343e;

          .auto-group-xptp-45B {
            margin-right: 1rem;
            height: 100%;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            line-height: 1.5;
            flex-shrink: 0;
            width: 5rem;
            display: flex;
            font-weight: 400;
            color: #737865;
            font-family: DM Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .search-xAZ {
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
            margin: 0.1rem 0;
            width: 2.1rem;
            height: calc(100% - 0.2rem);
          }
        }
      }
      .cards-SbX {
        column-gap: 2.16rem;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 88rem;
        display: flex;

        .auto-group-dswt-AnR {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 27.54rem;
          height: 100%;
          align-items: center;

          .item-1-KQR {
            box-sizing: border-box;
            cursor: pointer;
            flex-direction: column;
            margin-bottom: 2.4rem;
            padding-bottom: 9.7rem;
            width: 100%;
            display: flex;
            border: solid 0.15rem #dbdfd0;
            background-color: #ffffff;
            border-radius: 1.2rem;
            flex-shrink: 0;

            .mask-group-TFj {
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .text-yjs {
              margin-right: 10.34rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .rest-stop-1-L4d {
                font-size: 2.4rem;
                letter-spacing: -0.072rem;
                color: #ad343e;
                flex-shrink: 0;
                white-space: nowrap;
                margin-bottom: 1.5rem;
                text-align: center;
                font-weight: 700;
                line-height: 1.25;
                font-family: DM Sans, 'Source Sans Pro';
              }
              .address-1-SNZ {
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
              }
            }
          }
          .item-5-jcZ {
            background-color: #ffffff;
            display: flex;
            border: solid 0.15rem #dbdfd0;
            width: 100%;
            flex-direction: column;
            border-radius: 1.2rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 9.7rem;

            .mask-group-gGu {
              width: 27.54rem;
              height: 23rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 3rem;
            }
            .text-1a5 {
              margin-right: 9.64rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .rest-stop-5-ZrV {
                letter-spacing: -0.072rem;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.5rem;
                font-size: 2.4rem;
                line-height: 1.25;
                text-align: center;
                font-weight: 700;
                color: #ad343e;
              }
              .address-5-HGh {
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2rem;
              }
            }
          }
        }
        .auto-group-i757-yfK {
          flex-shrink: 0;
          width: 27.54rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .item-2-iso {
            margin-bottom: 2.4rem;
            width: 100%;
            flex-direction: column;
            border-radius: 1.2rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 9.7rem;
            display: flex;
            border: solid 0.15rem #dbdfd0;
            background-color: #ffffff;

            .mask-group-rUD {
              height: 23rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 3rem;
              width: 27.54rem;
            }
            .text-av1 {
              margin-right: 9.74rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .rest-stop-2-9CR {
                letter-spacing: -0.072rem;
                color: #ad343e;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.5rem;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.25;
                flex-shrink: 0;
              }
              .address-2-Tiu {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
            }
          }
          .item-6-ySM {
            padding-bottom: 9.7rem;
            width: 100%;
            display: flex;
            border: solid 0.15rem #dbdfd0;
            background-color: #ffffff;
            box-sizing: border-box;
            flex-direction: column;
            border-radius: 1.2rem;
            flex-shrink: 0;

            .mask-group-vcV {
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .text-sGq {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 9.64rem;

              .rest-stop-6-RZF {
                margin-bottom: 1.5rem;
                text-align: center;
                font-size: 2.4rem;
                color: #ad343e;
                flex-shrink: 0;
                font-weight: 700;
                line-height: 1.25;
                letter-spacing: -0.072rem;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
              .address-6-MSu {
                flex-shrink: 0;
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .auto-group-xjch-reZ {
          width: 27.54rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-3-QRB {
            border-radius: 1.2rem;
            padding-bottom: 9.7rem;
            width: 100%;
            flex-direction: column;
            border: solid 0.15rem #dbdfd0;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            display: flex;

            .mask-group-9df {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
            }
            .text-VSd {
              flex-shrink: 0;
              margin-right: 9.74rem;
              align-items: center;
              display: flex;
              flex-direction: column;

              .rest-stop-3-T8Z {
                line-height: 1.25;
                color: #ad343e;
                flex-shrink: 0;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.5rem;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 700;
                letter-spacing: -0.072rem;
              }
              .address-3-ysb {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
                font-family: DM Sans, 'Source Sans Pro';
              }
            }
          }
          .item-7-Vb3 {
            flex-shrink: 0;
            padding-bottom: 9.7rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            border: solid 0.15rem #dbdfd0;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 1.2rem;

            .mask-group-T25 {
              flex-shrink: 0;
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .text-zXo {
              flex-shrink: 0;
              margin-right: 9.84rem;
              align-items: center;
              display: flex;
              flex-direction: column;

              .rest-stop-7-kWy {
                margin-bottom: 1.5rem;
                font-weight: 700;
                line-height: 1.25;
                font-family: DM Sans, 'Source Sans Pro';
                flex-shrink: 0;
                text-align: center;
                font-size: 2.4rem;
                letter-spacing: -0.072rem;
                color: #ad343e;
                white-space: nowrap;
              }
              .address-7-5JM {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
                font-family: DM Sans, 'Source Sans Pro';
              }
            }
          }
        }
        .auto-group-pwyf-mgy {
          flex-direction: column;
          flex-shrink: 0;
          width: 27.54rem;
          height: 100%;
          align-items: center;
          display: flex;

          .item-4-i6R {
            border: solid 0.15rem #dbdfd0;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            flex-direction: column;
            background-color: #ffffff;
            border-radius: 1.2rem;
            flex-shrink: 0;
            padding-bottom: 9.7rem;
            width: 100%;
            display: flex;

            .mask-group-TJu {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
            }
            .text-CXP {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 9.64rem;
              align-items: center;

              .rest-stop-4-MQH {
                font-size: 2.4rem;
                letter-spacing: -0.072rem;
                color: #ad343e;
                flex-shrink: 0;
                white-space: nowrap;
                margin-bottom: 1.5rem;
                text-align: center;
                font-weight: 700;
                line-height: 1.25;
                font-family: DM Sans, 'Source Sans Pro';
              }
              .address-4-t9K {
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .item-8-P65 {
            box-sizing: border-box;
            flex-direction: column;
            border: solid 0.15rem #dbdfd0;
            background-color: #ffffff;
            padding-bottom: 9.7rem;
            width: 100%;
            display: flex;
            border-radius: 1.2rem;
            flex-shrink: 0;

            .mask-group-vbo {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
            }
            .text-4xu {
              margin-right: 9.64rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .rest-stop-8-2Pw {
                margin-bottom: 1.5rem;
                text-align: center;
                line-height: 1.25;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2.4rem;
                font-weight: 700;
                letter-spacing: -0.072rem;
                color: #ad343e;
                flex-shrink: 0;
              }
              .address-8-x2h {
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
              }
            }
          }
        }
      }
    }
  }
  .line-312-ZoB {
    margin-bottom: 4rem;
    width: 160rem;
    height: 0.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .top-bar-VRw {
    display: flex;
    align-items: center;
    padding: 8.2rem 62.3rem 8.8rem 10.8rem;
    height: 20rem;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    width: 160rem;
    background-color: #474747;
    flex-shrink: 0;

    .contact-us-ztV {
      margin-right: 13.8rem;
      font-size: 2.4rem;
      font-weight: 700;
      letter-spacing: -0.072rem;
      white-space: nowrap;
      line-height: 1.25;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .mail-KQy {
      box-sizing: border-box;
      padding-left: 0.3rem;
      height: calc(100% - 0.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0.2rem 16.4rem 0.4rem 0rem;

      .icon-outline-mail-SVb {
        margin-right: 2.3rem;
        width: 1.8rem;
        height: 1.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .evchargreststopswebsitecom-yVX {
        line-height: 1.5;
        color: #f8f8f6;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
    .call-hgR {
      padding-left: 0.3rem;
      height: calc(100% - 0.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0.2rem 0rem 0.4rem 0rem;
      box-sizing: border-box;

      .icon-outline-phone-qGq {
        margin-right: 2.3rem;
        width: 1.8rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-072-584-6985-NXf {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #f8f8f6;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
