
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.rs2-sBT {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .hero-c93 {
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 0.9rem 4.75rem 13.3rem 6.7rem;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;

    .header-ixm {
      margin-bottom: 4.2rem;
      box-sizing: border-box;
      padding-left: 0.45rem;
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .arrow-circle-leftcurved-GDb {
        margin: 1.6rem 35.95rem 0rem 0rem;
        width: 3.9rem;
        height: 3.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .line-312-aEH {
        flex-shrink: 0;
        margin: 1.3rem 1.95rem 0rem 0rem;
        width: 61.1rem;
        height: 0.3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ev-charging-station-rest-stops-HuP {
        color: #ad343e;
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        cursor: pointer;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 6;
        font-family: Playfair Display, 'Source Sans Pro';
        flex-shrink: 0;

        .ev-charging-station-rest-stops-HuP-sub-0 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 6;
          color: #ad343e;
          font-family: Playfair Display, 'Source Sans Pro';
        }
        .ev-charging-station-rest-stops-HuP-sub-1 {
          font-weight: 400;
          line-height: 6;
          color: #ad343e;
          font-family: Playfair Display, 'Source Sans Pro';
          font-size: 1.6rem;
        }
      }
    }
    .content-UMb {
      margin: 0rem 8.93rem 0rem 6.98rem;
      width: calc(100% - 15.91rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-ma9b-bSD {
        flex-shrink: 0;
        margin: 0rem 32.4rem 13rem 36.45rem;
        width: calc(100% - 68.85rem);
        height: 29.5rem;
        position: relative;

        .rest-stops-find-location-iWq {
          line-height: 0.96;
          height: 28.8rem;
          position: absolute;
          left: 11.37rem;
          font-size: 10rem;
          font-weight: 400;
          color: #2b2e23;
          font-family: Playfair Display, 'Source Sans Pro';
          width: 29.8rem;
          top: 0;
          text-align: center;

          .rest-stops-find-location-iWq-sub-0 {
          }
          .rest-stops-find-location-iWq-sub-1 {
            font-weight: 400;
            line-height: 2;
            color: #2b2e23;
            font-family: Playfair Display, 'Source Sans Pro';
            font-size: 4.8rem;
          }
        }
        .button-base-61b {
          left: 0;
          top: 23.5rem;
          display: flex;
          border: solid 0.1rem #ad343e;
          background-color: #ffffff;
          box-sizing: border-box;
          cursor: pointer;
          height: 6rem;
          position: absolute;
          align-items: center;
          border-radius: 7.2rem;
          padding: 1.8rem 35.29rem 1.8rem 2.35rem;
          width: 47.79rem;

          .auto-group-6gi1-n9K {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1.5;
            white-space: nowrap;
            margin-right: 0.95rem;
            width: 7.1rem;
            flex-shrink: 0;
            color: #737865;
            font-family: DM Sans, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 400;
          }
          .search-46q {
            margin: 0.1rem 0;
            width: 2.1rem;
            height: calc(100% - 0.2rem);
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
          }
        }
      }
      .cards-Z3b {
        width: 100%;
        height: 88rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-9kwb-6ZK {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 2.16rem;
          width: 27.54rem;
          height: 100%;
          align-items: center;

          .item-1-EfX {
            cursor: pointer;
            display: flex;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            padding-bottom: 9.7rem;
            width: 100%;
            flex-direction: column;
            border: solid 0.15rem #dbdfd0;
            border-radius: 1.2rem;

            .mask-group-aDb {
              flex-shrink: 0;
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .text-6xd {
              margin-right: 10.34rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .rest-stop-1-G6R {
                color: #ad343e;
                line-height: 1.25;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 700;
                letter-spacing: -0.072rem;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.5rem;
              }
              .address-1-ymX {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
            }
          }
          .item-5-Gkd {
            display: flex;
            border-radius: 1.2rem;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 9.7rem;
            width: 100%;
            flex-direction: column;
            border: solid 0.15rem #dbdfd0;

            .mask-group-RdX {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
              position: relative;
              object-fit: contain;
            }
            .text-xtM {
              margin-right: 9.64rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .rest-stop-5-Kiu {
                flex-shrink: 0;
                margin-bottom: 1.5rem;
                line-height: 1.25;
                letter-spacing: -0.072rem;
                color: #ad343e;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 700;
              }
              .address-5-4Ah {
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
              }
            }
          }
        }
        .auto-group-amss-ADj {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 2.16rem;
          width: 27.54rem;
          height: 100%;
          align-items: center;
          display: flex;

          .item-2-uSD {
            margin-bottom: 2.4rem;
            padding-bottom: 9.7rem;
            display: flex;
            background-color: #ffffff;
            border-radius: 1.2rem;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            flex-direction: column;
            border: solid 0.15rem #dbdfd0;

            .mask-group-EDb {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
              position: relative;
              object-fit: contain;
            }
            .text-kxd {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 9.74rem;

              .rest-stop-2-7YH {
                margin-bottom: 1.5rem;
                font-weight: 700;
                letter-spacing: -0.072rem;
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2.4rem;
                line-height: 1.25;
                color: #ad343e;
                font-family: DM Sans, 'Source Sans Pro';
              }
              .address-2-Eso {
                line-height: 1.3;
                color: #2b2e23;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
              }
            }
          }
          .item-6-Lvq {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            border: solid 0.15rem #dbdfd0;
            border-radius: 1.2rem;
            padding-bottom: 9.7rem;
            width: 100%;
            background-color: #ffffff;
            flex-shrink: 0;

            .mask-group-hWV {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
              position: relative;
              object-fit: contain;
            }
            .text-eAq {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 9.64rem;
              align-items: center;

              .rest-stop-6-CTF {
                line-height: 1.25;
                margin-bottom: 1.5rem;
                font-size: 2.4rem;
                font-weight: 700;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                letter-spacing: -0.072rem;
                color: #ad343e;
              }
              .address-6-v8M {
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2rem;
              }
            }
          }
        }
        .auto-group-gbnd-Dt9 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 2.16rem;
          width: 27.54rem;
          height: 100%;

          .item-3-AYV {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-direction: column;
            border: solid 0.15rem #dbdfd0;
            margin-bottom: 2.4rem;
            padding-bottom: 9.7rem;
            background-color: #ffffff;
            border-radius: 1.2rem;
            flex-shrink: 0;

            .mask-group-KAV {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
            }
            .text-485 {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 9.74rem;

              .rest-stop-3-DFs {
                text-align: center;
                font-weight: 700;
                line-height: 1.25;
                color: #ad343e;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.5rem;
                letter-spacing: -0.072rem;
                font-size: 2.4rem;
              }
              .address-3-YJ9 {
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .item-7-3Vo {
            display: flex;
            box-sizing: border-box;
            padding-bottom: 9.7rem;
            border: solid 0.15rem #dbdfd0;
            background-color: #ffffff;
            border-radius: 1.2rem;
            flex-shrink: 0;
            width: 100%;
            flex-direction: column;

            .mask-group-Q5T {
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .text-w5P {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 9.84rem;
              align-items: center;
              display: flex;

              .rest-stop-7-Huw {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.5rem;
                line-height: 1.25;
                letter-spacing: -0.072rem;
                font-family: DM Sans, 'Source Sans Pro';
                text-align: center;
                font-size: 2.4rem;
                font-weight: 700;
                color: #ad343e;
              }
              .address-7-chK {
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
              }
            }
          }
        }
        .auto-group-t4a1-XJV {
          flex-direction: column;
          flex-shrink: 0;
          width: 27.54rem;
          height: 100%;
          align-items: center;
          display: flex;

          .item-4-fvV {
            flex-shrink: 0;
            padding-bottom: 9.7rem;
            border: solid 0.15rem #dbdfd0;
            border-radius: 1.2rem;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            margin-bottom: 2.4rem;
            box-sizing: border-box;
            width: 100%;

            .mask-group-cqj {
              flex-shrink: 0;
              margin-bottom: 3rem;
              width: 27.54rem;
              height: 23rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .text-xPo {
              flex-shrink: 0;
              margin-right: 9.64rem;
              align-items: center;
              display: flex;
              flex-direction: column;

              .rest-stop-4-7Xb {
                text-align: center;
                font-size: 2.4rem;
                font-weight: 700;
                flex-shrink: 0;
                margin-bottom: 1.5rem;
                line-height: 1.25;
                letter-spacing: -0.072rem;
                color: #ad343e;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
              .address-4-RoB {
                color: #2b2e23;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
              }
            }
          }
          .item-8-WZj {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            background-color: #ffffff;
            border-radius: 1.2rem;
            box-sizing: border-box;
            padding-bottom: 9.7rem;
            width: 100%;
            border: solid 0.15rem #dbdfd0;

            .mask-group-3pZ {
              width: 27.54rem;
              height: 23rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 3rem;
            }
            .text-yy7 {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 9.64rem;
              align-items: center;
              display: flex;

              .rest-stop-8-jxH {
                margin-bottom: 1.5rem;
                text-align: center;
                color: #ad343e;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.25;
                letter-spacing: -0.072rem;
                flex-shrink: 0;
              }
              .address-8-sHo {
                text-align: center;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.3;
                color: #2b2e23;
                font-family: DM Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
  }
  .line-312-ZRX {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 4rem;
    width: 160rem;
    height: 0.2rem;
  }
  .top-bar-hnd {
    background-color: #474747;
    flex-shrink: 0;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 8.2rem 46.3rem 8.8rem 10.8rem;
    position: relative;

    .contact-us-p6Z {
      font-weight: 700;
      color: #ffffff;
      margin-right: 13.8rem;
      font-size: 2.4rem;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      line-height: 1.25;
      letter-spacing: -0.072rem;
    }
    .mail-jjK {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0.2rem 16.4rem 0.4rem 0rem;
      box-sizing: border-box;
      padding-left: 0.3rem;
      height: calc(100% - 0.6rem);

      .icon-outline-mail-TfK {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 1.8rem;
        height: 1.4rem;
        object-fit: contain;
      }
      .evchargreststopswebsitecom-PJ5 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #f8f8f6;
        font-family: DM Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .call-Jvq {
      padding-left: 0.3rem;
      height: calc(100% - 0.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0.2rem 0rem 0.4rem 0rem;
      box-sizing: border-box;

      .icon-outline-phone-37j {
        width: 1.8rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.3rem;
      }
      .item-072-584-6985-BDw {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #f8f8f6;
        font-family: DM Sans, 'Source Sans Pro';
      }
    }
  }
}
